<!DOCTYPE html>
<html>
  <head>
    <title>Alex Chumbley</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/article.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Alex Chumbley</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/articles/mostRecent">Blog</a></li>
            <li><a href="/#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Work <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/projects">Projects</a></li>
                <li class="divider"></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="http://www.mit.edu/~chumbley">MIT personal site</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-1" id="title">
        <!-- If we're listing out articles -->
        <% if(list) { %>
        <div class="well text-center">
          <h1>Articles</h1> 
        </div>
        <% for(var i=0; i<articles.length; i++) { %>
        <div class="well text-center" style="width:80%; margin-left: 10%;">
          <div id="articleTitle">
            <%= articles[i].title %>
          </div>
          <div id="articleSlogan">
            <%= articles[i].slogan %>
          </div>
          <div id="articleTimestamp">
            <%= articles[i].created_at %>
            <script>
              var x = <%= articles[i].created_at %>
              alert(x);
            </script>
          </div>
          <% } %>
        </div>

        <!-- If we're just showing one article (in its entirety) -->
        <% } else { %>
        <div class="well text-center">
          <h1><%= article.title %></h1> 
        </div>

        <% } %>
      </div>   
    </div>
  </body>
</html>