
<form role="form" id="draftLeague">
    
    <form method='post' action='/league/draft'>
    {{#each members}}
    	<div class='form-control'>
    		<label>{{this}}: Selection 1</label>
			<input type='text' class='form-control' name='name'>
    	</div>
    	<div class='form-control'>
    		<label>{{this}}: Selection 2</label>
			<input type='text' class='form-control' name='name'>
    	</div>
    	<div class='form-control'>
    		<label>{{this}}: Selection 3</label>
			<input type='text' class='form-control' name='name'>
    	</div>
    	<div class='form-control'>
    		<label>{{this}}: Selection 4</label>
			<input type='text' class='form-control' name='name'>
    	</div>
    	<div class='form-control'>
    		<label>{{this}}: Selection 5</label>
			<input type='text' class='form-control' name='name'>
    	</div>
    {{/each}}
    </form>
    <button type="submit" class="btn btn-default">Finish Draft</button>
</form>